@using Common
@{
    ViewBag.Title = "Sunrise Auto - Việt Nam";
}

<div class="boderB min-hieght-lg">
    <!-- SLIDE -->
    @Html.Partial("~/Views/Shared/_Slide.cshtml")
    <!-- END SLIDE -->

    <!-- NỘI DUNG TRANG CHỦ-->
    <section>
        <div class="container">
            
            <!-----------------------MENU LEFT--------------------------------->
            <div class="colLeft span3 fleft">
                    @Html.Partial("~/Views/Shared/_Left_Control.cshtml")
            </div>
            <!-----------------------END MENU LEFT----------------------------->

            <!-----------------------XE MỚI CẬP NHẬT--------------------------->
            <div class="span9" id="boxNewProduct" style="margin-left:10px;">

                <div class="shadow-wrapper searchtitle">
                    <div class="titleSearchBox">
                        <span>Sản phẩm mới cập nhật</span>
                    </div>
                </div>

                @foreach (var m in (List<Showroom.Models.Product>)ViewBag.ProductList) {
                    var imageList = new System.Collections.ArrayList();
                    imageList = @clsHelper.GetImageProduct(m.Id);
                    var NoimgPath = "/images/no_image.gif";
                     var strImage = string.Empty;
                    if (imageList.Count > 0)
                    {
                        strImage = imageList[0].ToString();
                    }
                    else
                    {
                        strImage = NoimgPath;
                    }
                    <div class="span3 magrinproduct">
                        <div class="shadow-wrapper">
                            <div class="mosaic-block faded">
                                <div class="mosaic-overlay" style="display: block; opacity: 0;">
                                    <div class="zoom-icons">
                                        <a class="zoom-img" href="images/portfolio/kia.jpg" data-gal="prettyPhoto[portfolio]"><i class="icon-search"></i></a>
                                        <a class="link-img" href="/Product/Details/@m.Id"><i class="icon-link"></i></a>
                                    </div>
                                </div>
                                <div class="mosaic-backdrop">
                                    <img class="max-image" src="@strImage" alt="">
                                </div>
                            </div>
                            <div class="port3-head">
                                <h3><a href="/Product/DetailProduct/@m.Id">@m.Name</a></h3>
                                <p>Giá:@Convert.ToDouble(m.Price).ToString("N0").Replace(",", ".")</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-----------------------END XE MỚI CẬP NHẬT----------------------->

            <!-----------------------------PARTNER----------------------------->
            <div id="Partner" class="span12" style="margin-left:0px;">
                <div class="image_carousel">
                    <div id="foo2">
                        <img src="images/partner/basketball.jpg" alt="basketball" width="140" height="140" />
                        <img src="images/partner/beachtree.jpg" alt="beachtree" width="140" height="140" />
                        <img src="images/partner/cupcackes.jpg" alt="cupcackes" width="140" height="140" />
                        <img src="images/partner/hangmat.jpg" alt="hangmat" width="140" height="140" />
                        <img src="images/partner/new_york.jpg" alt="new york" width="140" height="140" />
                        <img src="images/partner/laundry.jpg" alt="laundry" width="140" height="140" />
                        <img src="images/partner/mom_son.jpg" alt="mom son" width="140" height="140" />
                        <img src="images/partner/picknick.jpg" alt="picknick" width="140" height="140" />
                        <img src="images/partner/shoes.jpg" alt="shoes" width="140" height="140" />
                        <img src="images/partner/paris.jpg" alt="paris" width="140" height="140" />
                        <img src="images/partner/sunbading.jpg" alt="sunbading" width="140" height="140" />
                        <img src="images/partner/yellow_couple.jpg" alt="yellow couple" width="140" height="140" />
                    </div>
                    <div class="clearfix"></div>
                    <a class="prev" id="foo2_prev" href="#"><span>prev</span></a>
                    <a class="next" id="foo2_next" href="#"><span>next</span></a>
                    <div class="paginationCl" id="foo2_pag"></div>
                </div>
            </div>
            <!----------------------------- END PARTNER----------------------------->

        </div>
    </section>
    <!-- END NỘI DUNG TRANG CHỦ-->

    <script type='text/javascript' src='/Scripts/js/jquery.min.js'></script>
    <script type="text/javascript" src="/Scripts/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/Scripts/js/jcarousel.js"></script>
    <script type="text/javascript" src="/Scripts/js/jquery.carouFredSel.js"></script>
    <script type="text/javascript" src="/Scripts/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#foo2").carouFredSel({
                circular: false,
                infinite: true,
                auto: true,
                prev: {
                    button: "#foo2_prev",
                    key: "left"
                },
                next: {
                    button: "#foo2_next",
                    key: "right"
                },
                pagination: "#foo2_pag"
            });
        });
    </script>

</div>

