@model SunriseShowroom.Models.LogOnModel
@{
    ViewBag.Title = "Log On";
    Layout = null;
}
<!doctype html>
<html>
<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- Apple devices fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <!-- Apple devices fullscreen -->
    <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />


    <!-- Bootstrap -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Admin/css/bootstrap.min.css")">
    <!-- Bootstrap responsive -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Admin/css/bootstrap-responsive.min.css")">
    <!-- Theme CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Admin/css/style.css")">
    <!-- Color CSS -->
    <link rel="stylesheet" href="@Url.Content("~/Content/Admin/css/themes.css")">


    <!-- jQuery -->
    <script src="@Url.Content("~/Scripts/Admin/Scripts/jquery-1.9.1.min.js")"></script>
    <!-- Bootstrap -->
    <script src="@Url.Content("~/Scripts/Admin/Scripts/bootstrap.min.js")"></script>
    <!-- Theme framework -->
    <script src="@Url.Content("~/Scripts/Admin/Scripts/eakroko.min.js")"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="@Url.Content("~/Content/Admin/img/favicon.ico")" />
    <!-- Apple devices Homescreen icon -->
    <link rel="apple-touch-icon-precomposed" href="@Url.Content("~/Content/Admin/img/apple-touch-icon-precomposed.png")" />

</head>

<body class='login'>
    <div class="wrapper">
        <h1><a href="index.html">
            <img src="/Content/Admin/img/logo-big.png" alt="" class='retina-ready' width="59" height="49">ADMIN</a></h1>
        <div class="login-body">
            <h2>Đăng nhập</h2>
            @Html.ValidationSummary()
            @using (Html.BeginForm())
            {
                <div class="email">
                    @Html.TextBoxFor(m => m.UserName, new { placeholder = "Tên tài khoản", @class = "input-block-level" })
                </div>
                <div class="pw">
                    @Html.PasswordFor(m => m.Password, new { placeholder = "Mật khẩu", @class = "input-block-level" })
                </div>
                <div class="remember">
                    <label class="checkbox">
                        <input id="RememberMe" name="RememberMe" type="checkbox" value="true">
                        Ghi nhớ tài khoản?
                    </label>
                </div>
                <div class="submit">
                    <input type="submit" value="Sign me in" class='btn btn-primary'>
                </div>
            }
            <div class="forget">
                <a href="#"><span>Forgot password?</span></a>
            </div>
        </div>
    </div>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-38620714-4']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</body>

</html>
