@{
    ViewBag.Title = "Cập nhật hãng sản xuất";
    Layout = "../Shared/_AdminLayout.cshtml";
}
@model Showroom.Models.Catalogue
<!-- Plupload -->
<link rel="stylesheet" href="@Url.Content("~/Content/Admin/css/plugins/plupload/jquery.plupload.queue.css")">
<!-- PLUpload -->
<script src="@Url.Content("~/Scripts/Admin/Scripts/plugins/plupload/plupload.full.js")"></script>
<script src="@Url.Content("~/Scripts/Admin/Scripts/plugins/plupload/jquery.plupload.queue.js")"></script>
<!-- Custom file upload -->
<script src="@Url.Content("~/Scripts/Admin/Scripts/plugins/fileupload/bootstrap-fileupload.min.js")"></script>
<div class="box">
    <div class="box-title">
        <h3><i class="icon-edit"></i>Cập nhật hãng sản xuất</h3>
    </div>
    <div class="box-content">
        @using (Html.BeginForm("Edit", "AdminCatalogue", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
        {
            @Html.HiddenFor(item => item.Id)
            <div class="control-group">
                <label for="" class="control-label">@Html.LabelFor(item => item.Image)<span class="red">(140 X 140)</span></label>
                <div class="controls">
                    @if (String.IsNullOrEmpty(Model.Image))
                    {   <div class="box_image">
                        <image src="/Images/no_image.jpg" id="logoCatalogue" />
                    </div>
                    }
                    else
                    {
                        <div class="box_image">
                            <img src="/Images/Catalogue/@Model.Id/@Model.Image" id="logoCatalogue" />
                        </div>
                    }
                    <div class="clearfix"></div>
                    <input type="file" name="Image" id="Image" value="" />
                    @Html.ValidationMessageFor(item => item.Image)
                </div>
            </div>
            <div class="control-group">
                <label for="" class="control-label">@Html.LabelFor(item => item.Name)</label>
                <div class="controls">
                    @Html.TextBoxFor(item => item.Name, new { @class = "input-xlarge" })
                    @Html.ValidationMessageFor(item => item.Name)
                </div>
            </div>
            <div class="control-group">
                <label for="" class="control-label">@Html.LabelFor(item => item.Priority)<span class="red">(Nhập số)</span></label>
                <div class="controls">
                    @Html.TextBoxFor(item => item.Priority, new { @class = "input-xlarge" })
                </div>
            </div>
            <div class="control-group">
                <label for="" class="control-label">@Html.LabelFor(item => item.Actflg)</label>
                <div class="controls">
                    @Html.RadioButtonFor(item => item.Actflg, 'A', new { @checked = "checked", @group = "gActflg" }) Hiển thị  
                   @Html.RadioButtonFor(item => item.Actflg, 'I', "gActflg") Ẩn
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Lưu </button>
                @Html.ActionLink("Hủy", "Index", new { Id = 0 }, new { @class = "btn" })
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    $('#btnReset').click(function () {
        $('input:visible, textarea:visible').val('');
    });
</script>
