@{
    ViewBag.Title = "Product";
    List<Showroom.Models.PropertyCatalogue> PropertyCatalogueList = ViewBag.PropertyCatalogueList;
    int maxPage = ViewBag.MaxPage;
    int CatalogueId = ViewBag.Id;
    int CurrenPage = ViewBag.Curenpage;
    
    <style type="text/css">
        .wrapTitle {
            background: #fff;
            line-height: 40px;
        }
    </style>
    
}

<div class="boderB">

    <!-- NỘI DUNG TRANG CHỦ-->
    <section>
        <div class="container">

            <!-----------------------MENU LEFT--------------------------------->
            <div class="colLeft span3 fleft">
                <div class="shadow-wrapper searchtitle" id="searchbox">
                    <div class="titleSearchBox">
                        <span>TÌM KIẾM XE GIÁ TỐT</span>
                    </div>
                    <ul class="searchtool hide" id="searchtool">
                        <li>
                            @Html.DropDownList("listCatalogue", (IList<SelectListItem>)ViewBag.CatalogueListDrop)
                        </li>
                        <li>
                            <select>
                                <option>-Model-</option>
                                <option>A4  </option>
                                <option>A5</option>
                                <option>A6</option>
                            </select>
                        </li>
                        <li>
                            <input type="text" value="Giá từ" /></li>
                        <li>
                            <input type="text" value="Giá đến" /></li>
                        <li><a class="button-green btn fright" href="#">Tìm kiếm</a>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
                <div class="shadow-wrapper">
                    <div class="titleBox">
                        <span>SIÊU THỊ XE</span>
                    </div>
                    <ul class="leftnav bullets-style blue  arrow-list">
                        @foreach (var c in (List<Showroom.Models.Catalogue>)ViewBag.CataloguesList)
                        {
                            <li><a href="/Product/Product/@c.Id">@c.Name</a></li>
                        }
                    </ul>
                </div>
            </div>
            <!-----------------------END MENU LEFT----------------------------->

            <!-----------------------XE THEO CATEGORIES--------------------------->
            <div class="wrapTitle">
                <div class="span9" style="background: #0083B7; line-height: 20px;">
                    <span>Sản phẩm</span>
                </div>
            </div>
            <div class="row" id="boxNewProduct">
                @foreach (var m in (List<Showroom.Models.Product>)ViewBag.ProductByCatalogue)
                {
                    <div class="span3">
                        <div class="shadow-wrapper">
                            <div class="mosaic-block faded">
                                <div class="mosaic-overlay" style="display: block; opacity: 0;">
                                    <div class="zoom-icons">
                                        <a class="zoom-img" href="/images/portfolio/kia.jpg" data-gal="prettyPhoto[portfolio]"><i class="icon-search"></i></a>
                                        <a class="link-img" href="/Product/Details/@m.Id"><i class="icon-link"></i></a>
                                    </div>
                                </div>
                                <div class="mosaic-backdrop">
                                    <img class="max-image" src="/images/portfolio/kia.jpg" alt="">
                                </div>
                            </div>
                            <div class="port3-head">
                                <h3><a href="/Product/Details/@m.Id">@m.Name</a></h3>
                                <p>Giá:@Convert.ToDouble(m.Price).ToString("N0").Replace(",", ".")</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-----------------------END XE MỚI CẬP NHẬT----------------------->
                @*@RenderPage("~/macroScripts/Shared/_Page.cshtml", new { PageIdx = pageIndex, ListCount = maxPage, PostPerPage = maxProductInPage })*@
            <div class="pagination">
                
                @for (int i = CurrenPage-1;( i >0 && i>=CurrenPage-2); i--)
                {
                    var query = "/Product/Product?id=" + CatalogueId + "&page=" + i;
                    <a href="@query">@i</a>
                }
                @for (int i = CurrenPage;( i <= maxPage && i <= CurrenPage+2); i++)
                {
                    var query = "/Product/Product?id=" + CatalogueId + "&page=" + i;
                    <a href="@query">@i</a>
                }
                </div>   
        </div>
    </section>
    <!-- END NỘI DUNG TRANG CHỦ-->

</div>
