@using Common
@using Showroom.Models.DataAccess;
@{
    ShowroomRepository rep = new ShowroomRepository();
    ViewBag.Title = "NewsAll";
    List<Showroom.Models.News> lstNews = ViewBag.lstNews;
    List<Showroom.Models.News> lstTopNews = ViewBag.lstTopNews;
    List<Showroom.Models.NewsCatalogue> lstCatalogueNews = ViewBag.lstCatalogueNews;
    int maxPage = ViewBag.MaxPage;
    int CurrenPage = ViewBag.Curenpage;
}

<div class="boderB">

<div class="container warp-content">
        	<div class="row">
            	<!--Blog Wrap-->
                <div class="span8">

                    @foreach(var item in lstNews.OrderByDescending(item => item.PostDate))
                    {
                	<section class="blog-wrap">
                        <div class="shadow-wrapper">
                            <div class="mosaic-block faded">
                                <div class="mosaic-overlay" style="display: block; opacity: 0;">
                                    <div class="zoom-icons">
                                        <a data-gal="prettyPhoto[portfolio]" class="zoom-img" href="/images/sliders/slider_img.png"><i class="icon-search"></i></a>
                                        <a class="link-img" href="/News/NewsDetails/@item.Id"><i class="icon-link"></i></a>
                                    </div>
                                </div>
                                <div class="mosaic-backdrop" style="display: block;"><img class="max-image" src="/images/sliders/slider_img.png" alt="" /></div>    
                            </div>
                            <div class="blog-head">                	
                                <h3 class="top-mar"><a href="/News/NewsDetails/@item.Id">@clsHelper.CatChuoi(item.Title, 70)</a></h3>
                            </div>
                            <div class="blog-txt">
                                <div style="float:left;">@item.PostDate.ToString("dd/MM/yyyy")</div>
                                <span><i class="icon-comment"></i> <a>@item.Views</a></span>
                            </div>
                            <p>@clsHelper.CatChuoi(item.Detail, 120)</p>
                            <p><a href="/News/NewsDetails/@item.Id" class="button-dark btn">Chi tiết</a></p>
                        </div>	
                    </section>
                    }
                    <div class="pagination">
                        <a href="#"><i class="icon-chevron-left"></i></a>
                        @for (int i = CurrenPage - 1; (i > 0 && i >= CurrenPage - 2); i--)
                        {
                            var query = "/News/NewsAll?page=" + i;
                            <a href="@query">@i</a>
                        }
                        @for (int i = CurrenPage; (i <= maxPage && i <= CurrenPage + 2); i++)
                        {
                            var query = "/News/NewsAll?page=" + i;
                            <a href="@query">@i</a>
                        }
                        <a href="#"><i class="icon-chevron-right"></i></a>
                    </div>
                </div>
                <!--Blog Wrap-->
                
                <!--Sidebar Wrap-->
                <div class="span4">
                    <h2 class="head-two green">
                        <span>Bài mới đăng</span>
                    </h2>
                    <div class="service-wrap">
                        <ul class="sidebar-post">
                            @foreach (var topN in lstTopNews.OrderByDescending(topN => topN.PostDate).Take(3))
                            {
                            <li>
                                <div class="imgborder">
                                    <a href="/News/NewsDetails/@topN.Id"><img src="/images/recent-post.png" alt=""></a>
                                </div>
                                <div class="recent_txt">
                                    <a href="/News/NewsDetails/@topN.Id">@clsHelper.CatChuoi(topN.Title,50)</a>
                                    <p>@clsHelper.CatChuoi(topN.Detail, 80)</p>
                                    <p class="date"><i class="icon-calendar"></i>@topN.PostDate.ToString("dd/MM/yyyy")</p>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                            }
                        </ul>
                    </div>
                    <div class="divider3">&nbsp;</div>

                    
                    <h2 class="head-two green">
                        <span>Chuyên mục tin tức</span>
                    </h2>
                    <div class="service-wrap">
                        <ul class="sidebar-category">
                            @foreach(var cn in lstCatalogueNews)
                            {
                                <li><a href="/News/NewsbyCatalogue?id=@cn.Id&page=1"><i class="icon-chevron-right"></i>@cn.Name</a></li>
                            }
                        </ul>
                    </div>
                    <div class="divider3">&nbsp;</div>

                </div>
                <!--Sidebar Wrap-->
          	</div>
        </div>

</div>