@{
    ViewBag.Title = "Cập nhật slide ảnh Banner và thương hiệu";
     Layout = "../Shared/_AdminLayout.cshtml";
}
@{
    System.Collections.ArrayList listTop = ViewBag.ImageListTop;
    System.Collections.ArrayList listBottom = ViewBag.ImageListBottom;
    
}
<link rel="stylesheet" href="@Url.Content("~/Content/Admin/css/plugins/colorbox/colorbox.css")">
<div class="box box-color box-bordered">
    @using (Html.BeginForm("AddTop", "AdminImageSlide", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3><i class="icon-edit"></i>Slide ảnh Banner</h3>
            </div>
            <div class="box-content">
                <div class="span12">
                    <div class="control-group">
                        <label for="textfield" class="control-label">Chọn ảnh</label>
                        <div class="controls">
                            <input type="file" name="file" multiple="multiple" value="" />
                            <div class="form-actions no-padding">
                                <button type="submit" class="btn btn-primary">Tải và lưu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (listTop.Count > 0)
    {
        <div class="box-content">
            <ul class="gallery">
                @for (int i = 0; i < listTop.Count; i++)
                {
                    <li>
                        <a href="#">
                            <img src="@listTop[i]" alt="" class="ProductThumb">
                        </a>
                        <div class="extras">
                            <div class="extras-inner">
                                <a href="#" class='del-gallery-pic' id="@listTop[i]"><i class="icon-trash"></i></a>

                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    }
</div>

<div class="box box-color box-bordered">
    @using (Html.BeginForm("AddBottom", "AdminImageSlide", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3><i class="icon-edit"></i>Slide ảnh thương hiệu</h3>
            </div>
            <div class="box-content">
                <div class="span12">
                    <div class="control-group">
                        <label for="textfield" class="control-label">Chọn ảnh</label>
                        <div class="controls">
                            <input type="file" name="file" multiple="multiple" value="" />
                            <div class="form-actions no-padding">
                                <button type="submit" class="btn btn-primary">Tải và lưu</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    @if (listBottom.Count > 0)
    {
        <div class="box-content">
            <ul class="gallery">
                @for (int i = 0; i < listBottom.Count; i++)
                {
                    <li>
                        <a href="#">
                            <img src="@listBottom[i]" alt="" class="ProductThumb">
                        </a>
                        <div class="extras">
                            <div class="extras-inner">
                                <a href="#" class='del-gallery-pic' id="@listBottom[i]"><i class="icon-trash"></i></a>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    }
</div>

<script src="@Url.Content("~/Scripts/Admin/Scripts/plugins/colorbox/jquery.colorbox-min.js")"></script>
<script type="text/javascript">
    $('.del-gallery-pic').click(function () {
        var myData = "{'image':'" + $(this).attr('id') + "'}";
        $.ajax({
            url: '/AdminImageSlide/DeleteImage',
            type: 'POST',
            data: myData,
            dataType: 'json',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
            }
        });
    });
</script>
