@using Showroom.Models.DataAccess;
@model Showroom.Models.News
@using Common
@{
    ViewBag.Title = "Sunrise Auto" + " " + "-" + " " + Model.Title; ;
    List<Showroom.Models.NewsCatalogue> lstCatalogueNews = ViewBag.lstCatalogueNews;
    List<Showroom.Models.News> lstTopNews = ViewBag.lstTopNews;
    List<Showroom.Models.News> lstNewsSame = ViewBag.lstNewsSame;

    ShowroomRepository rep = new ShowroomRepository();

    Showroom.Models.News objnew = new Showroom.Models.News();
    objnew.Id = Model.Id;
    objnew.Title = Model.Title;
    objnew.TitleEn = Model.TitleEn;
    objnew.CatelogueId = Model.CatelogueId;
    objnew.Actflg = Model.Actflg;
    objnew.PostDate = Model.PostDate;
    objnew.Image = Model.Image;
    objnew.Detail = Model.Detail;
    objnew.Views = Model.Views + 1;
    rep.UpdateNews(objnew);
    var infoCata = rep.GetNewsCatalogueInfo(@Model.CatelogueId);   
}


<div class="boderB">
    <div class="container warp-content">
        <div class="row">
            <!--Blog Wrap-->
            <div class="span8">
                <div class="breacrumbs" style="background: #DDE; padding: 12px 0; color: #000; font-weight:normal;">
                    <span><a href="/">Trang chủ</a></span>
                    <span><a href="/tin-tuc/danh-sach/@infoCata.NameEn/@infoCata.Id-1">@infoCata.Name</a></span>
                    @Model.Title
                </div>
                <section class="blog-wrap">
                    <div class="shadow-wrapper">
                        <div class="blog-head">
                            <h3 class="top-mar"><a href="#">@Model.Title</a></h3>
                        </div>
                        <div class="blog-txt">
                            <div style="float: left;">@Model.PostDate.ToString("dd/MM/yyyy")</div>
                            <span><i class="icon-comment"></i><a style="margin-left: 3px;">@Model.Views</a></span>
                        </div>
                        <p class="span18">
                            @Html.Raw(Model.Detail)
                        </p>
                    </div>

                    <section>
                        <div class="comments-wrap">
                            <h4><i class="icon-comments"></i>Bài viết liên quan</h4>
                            <ul>
                                @foreach (var same in lstNewsSame.OrderByDescending(item => item.PostDate).Take(5).Where(same => same.Actflg == 'A'))
                                {
                                    if (same.Id != Model.Id)
                                    {                                    
                                    <li><a href="/tin-tuc/@same.TitleEn-@same.Id">@same.Title</a> - @same.PostDate.ToString("dd/MM/yyyy")</li>
                                    }
                                }
                            </ul>
                        </div>
                    </section>

                </section>
            </div>
            <!--Blog Wrap-->
            <!--Sidebar Wrap-->
            <div class="span4">
                <h2 class="head-two green">
                    <span>Chuyên mục tin tức</span>
                </h2>
                <div class="service-wrap">
                    <ul class="sidebar-category">
                        @foreach (var cn in lstCatalogueNews)
                        {
                            <li><a href="/tin-tuc/danh-sach/@cn.NameEn/@cn.Id-1"><i class="icon-chevron-right"></i>@cn.Name</a></li>
                        }
                    </ul>
                </div>
                <div class="divider3">&nbsp;</div>

                <h2 class="head-two green">
                    <span>Bài mới đăng</span>
                </h2>
                <div class="service-wrap">
                    <ul class="sidebar-post">
                        @foreach (var topN in lstTopNews.OrderByDescending(topN => topN.PostDate).Take(3).Where(topN => topN.Actflg == 'A'))
                        {
                            var NoimgPathN = "/images/no_image.gif";
                            var strImage = string.Empty;
                            if (topN.Image.IsEmpty())
                            {
                                strImage = NoimgPathN;
                            }
                            else
                            {
                                strImage = "/images/News/" + topN.Id + "/" + topN.Image;
                            }                             
                            <li>
                                <div class="imgborder">
                                    <a href="#">
                                        <img src="@strImage" alt="@topN.TitleEn"></a>
                                </div>
                                <div class="recent_txt">
                                    <a href="/tin-tuc/@topN.TitleEn-@topN.Id" style="font-weight:bold;">@Html.Raw(clsHelper.CatChuoi(topN.Title, 50))</a>
                                    <p>@HttpUtility.HtmlDecode(clsHelper.CatChuoi(clsHelper.ClearTagHTML(topN.Detail), 80))</p>
                                    <p class="date"><i class="icon-calendar"></i>@topN.PostDate.ToString("dd/MM/yyyy")</p>
                                </div>
                                <div class="clearfix"></div>
                            </li>
                        }
                    </ul>
                </div>
                <div class="divider3">&nbsp;</div>
            </div>
            <!--Sidebar Wrap-->

        </div>
    </div>
</div>
