@{
    ViewBag.Title = "Thông tin liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ShowroomRepository rep = new ShowroomRepository();
    var systemConfig = rep.GetSystemInfoList();
     var contact_info = (from sy in systemConfig where sy.Code == "contact_info" select sy.Value).FirstOrDefault();
    var youtube_info = (from sy in systemConfig where sy.Code == "youtube_info" select sy.Value).FirstOrDefault();
    var twitter_info = (from sy in systemConfig where sy.Code == "twitter_info" select sy.Value).FirstOrDefault();
    var facebook_info = (from sy in systemConfig where sy.Code == "facebook_info" select sy.Value).FirstOrDefault();
    var skype_info = (from sy in systemConfig where sy.Code == "skype_info" select sy.Value).FirstOrDefault();
    var yahoo_info = (from sy in systemConfig where sy.Code == "yahoo_info" select sy.Value).FirstOrDefault();
    var email_info = (from sy in systemConfig where sy.Code == "email_info" select sy.Value).FirstOrDefault();
    var phone_info = (from sy in systemConfig where sy.Code == "phone_info" select sy.Value).FirstOrDefault();
}
@using Showroom.Models.DataAccess
@model Frontend.Models.Contact
<!--Bodycontent Start-->
<div id="body-content clPadingBody">
    <div class="boderB">
        <div class="container warp-content">
            <div class="row">
                <div class="span9 fleft">
                    <div class="breacrumbs" style="background: #DDE; padding: 12px 0; color: #000; font-weight:normal;">
                        <span><a href="/" title="trang chủ">Trang chủ</a></span>
                        Liên hệ
                    </div>

                    <div class="contact-map">
                        <div class="shadow-wrapper large">
                            <!--<iframe scrolling="no" height="310" frameborder="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Manhattan,+New+York,+NY&amp;sll=37.0625,-95.677068&amp;sspn=71.810722,137.724609&amp;ie=UTF8&amp;hq=&amp;hnear=Manhattan,+New+York&amp;ll=40.783401,-73.966141&amp;spn=0.06421,0.102654&amp;z=12&amp;iwloc=A&amp;"></iframe>-->
@*                            <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
                            <script>
                                function initialize() {
                                    var mapProp = {
                                        center: new google.maps.LatLng(21.026828137124262, 105.77836275100708),
                                        zoom: 15,
                                        mapTypeId: google.maps.MapTypeId.ROADMAP
                                    };
                                    var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
                                }

                                google.maps.event.addDomListener(window, 'load', initialize);
                            </script>
                            <div id="googleMap">
                            </div>*@
                            <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=vi&amp;geocode=&amp;q=Sunrise+Auto&amp;aq=&amp;sll=21.043812,105.814476&amp;sspn=0.086194,0.169086&amp;gl=US&amp;doflg=ptk&amp;ie=UTF8&amp;hq=Sunrise+Auto&amp;hnear=&amp;t=m&amp;z=12&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=vi&amp;geocode=&amp;q=Sunrise+Auto&amp;aq=&amp;sll=21.043812,105.814476&amp;sspn=0.086194,0.169086&amp;gl=US&amp;doflg=ptk&amp;ie=UTF8&amp;hq=Sunrise+Auto&amp;hnear=&amp;t=m&amp;z=12&amp;iwloc=A" style="color:#0000FF;text-align:left">Xem Bản đồ cỡ lớn hơn</a></small>
                        </div>
                    </div>
                    <div class="span5 fleft nomargin">
                        <iframe width="100%" height="265" src="@youtube_info" frameborder="0" allowfullscreen></iframe>
                    </div>

                    <!-- FORM LIỆN HỆ-->
                    <div class="span4 clMargin">

                        <div class="contact-map">
                            <h2>Gửi thông tin liên hệ</h2>
                            <div class="divider1">
                                &nbsp;
                            </div>
                            @using (Html.BeginForm())
                            {
                                @Html.ValidationSummary()
                                <div class="show-grid row">
                                    <div class="span4">
                                        @Html.TextBoxFor(item => item.Email, new { @class = "span4 nomarginleftright", @name = "email", placeholder = "Email..." })
                                        @Html.ValidationMessageFor(item => item.Email)
                                    </div>
                                    <div class="span5">
                                        @Html.TextBoxFor(item => item.Mobile, new { @class = "span4 nomarginleftright", @name = "phone", placeholder = "Điện thoại..." })
                                    </div>
                                    <div class="span9">
                                        @Html.TextAreaFor(item => item.Detail, new { @class = "span4 nomarginleftright", @name = "comment", placeholder = "Chi tiết..." })
                                    </div>
                                    <div class="span12">
                                        <input type="submit" value=" Gửi " class="btn">
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <!--KÊT THÚC FORM LIÊN HỆ-->

                </div>


                <!-- FORM THÔNG TIN CỦA CỬA HÀNG-->
                <div class="span3">
                    <h2>Hỗ trợ trực tuyến</h2>
                    <div class="divider1">
                        &nbsp;
                    </div>
                    <div class="suport-online">
                        <div style="float: left;">
                            <ul style="list-style: none; margin: 3px 0px;">
                                @{
                                    var arrSkype = skype_info.Split(',');
                                    var k = 1;
                                    foreach (var s1 in arrSkype)
                                    {
                                        if (s1 != ",")
                                        {
                                    <li style="line-height: 30px !important;">
                                        <span class="fleft" style="margin-right: 15px;">Skype @k:</span>
                                        <a href="skype:@s1?chat" title="hỗ trợ qua sky">
                                            <img src="http://mystatus.skype.com/smallicon/@s1" alt="@s1">
                                        </a>
                                    </li>
                                        }
                                        k++;
                                    }
                                }
                            </ul>
                        </div>
                        <div style="float: left;">
                            <ul style="list-style: none; margin: 3px 0px;">
                                @{
                                    var arr = yahoo_info.Split(',');
                                    var i = 1;
                                    foreach (var s in arr)
                                    {
                                        if (s != ",")
                                        {
                                    <li style="line-height: 30px !important;">
                                        <span class="fleft" style="margin-right: 15px;">Yahoo @i:</span><a href="ymsgr:sendIM?@s" title="hỗ trợ qua yahoo">
                                            <img src="http://opi.yahoo.com/online?u=@s&m=g&t=2" border="0" alt="" />
                                        </a></li>
                                        }
                                        i++;
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <h2>Thông tin liên hệ</h2>
                    <div class="divider1">
                        &nbsp;
                    </div>
                    <p class="foot-address">
                        @contact_info
                    </p>
                    <div class="contact-icon">
                        <i class="icon-envelope-alt"></i><strong>Email: </strong>
                        <p>
                            <a href="mailto:@email_info" title="mail">@email_info</a>
                        </p>
                    </div>
                    <div class="contact-icon">
                        <i class="icon-phone"></i><strong>Phone:</strong>
                        <p>
                            @phone_info
                        </p>
                    </div>
                    <div class="contact-icon">
                        <i class="icon-twitter"></i><strong>Twitter: </strong>
                        <p>
                            <a href="https://twitter.com/@twitter_info">@twitter_info</a>
                        </p>
                    </div>
                    <div class="contact-icon">
                        <i class="icon-facebook"></i><strong>Facebook: </strong>
                        <p>
                            <a href="https://www.facebook.com/@facebook_info">@facebook_info</a>
                        </p>
                    </div>
                </div>
                <!-- KÊT THỨC THÔNG TIN CỬA HÀNG-->

            </div>

        </div>
    </div>
</div>
<!--Bodycontent End-->
