@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Frontend.Models.Contact
<!--Bodycontent Start-->
<div id="body-content clPadingBody">
    <div class="boderB">
        <div class="container warp-content">
            <div class="row">
                <div class="span9 fleft">
                    <div class="contact-map">
                        <div class="shadow-wrapper large">
                            <!--<iframe scrolling="no" height="310" frameborder="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Manhattan,+New+York,+NY&amp;sll=37.0625,-95.677068&amp;sspn=71.810722,137.724609&amp;ie=UTF8&amp;hq=&amp;hnear=Manhattan,+New+York&amp;ll=40.783401,-73.966141&amp;spn=0.06421,0.102654&amp;z=12&amp;iwloc=A&amp;"></iframe>-->
                            <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
                            <script>
                                function initialize() {
                                    var mapProp = {
                                        center: new google.maps.LatLng(21.026828137124262, 105.77836275100708),
                                        zoom: 15,
                                        mapTypeId: google.maps.MapTypeId.ROADMAP
                                    };
                                    var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);
                                }

                                google.maps.event.addDomListener(window, 'load', initialize);
                            </script>
                            <div id="googleMap">
                            </div>
                        </div>
                    </div>
                    <div class="span3 fleft nomargin">
                        <iframe width="100%" height="200" src="http://www.youtube.com/embed/raGVvGDNqaY" frameborder="0" allowfullscreen></iframe>
                    </div>

                    <!-- FORM LIỆN HỆ-->
                    <div class="span6 clMargin">

                        <div class="contact-map">
                            <h2>Gửi thông tin liên hệ</h2>
                            <div class="divider1">
                                &nbsp;
                            </div>
                            @using (Html.BeginForm())
                            {
                                @Html.ValidationSummary()
                                <div class="show-grid row">
                                    <div class="span4">
                                        @Html.TextBoxFor(item => item.Email, new { @class = "span4 nomarginleftright", @name = "email", placeholder = "Email..." })
                                        @Html.ValidationMessageFor(item => item.Email)
                                    </div>
                                    <div class="span5">
                                        @Html.TextBoxFor(item => item.Mobile, new { @class = "span4 nomarginleftright", @name = "phone", placeholder = "Điện thoại..." })
                                    </div>
                                    <div class="span9">
                                        @Html.TextAreaFor(item => item.Detail, new { @class = "span6 nomarginleftright", @name = "comment", placeholder = "Chi tiết..." })
                                    </div>
                                    <div class="span12">
                                        <input type="submit" value=" Gửi " class="btn">
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <!--KÊT THÚC FORM LIÊN HỆ-->

                </div>


                <!-- FORM THÔNG TIN CỦA CỬA HÀNG-->
                <div class="span3">
                    <h2>Hỗ trợ trực tuyến</h2>
                    <div class="divider1">
                        &nbsp;
                    </div>
                    <div class="suport-online">
                        <script type="text/javascript" src="http://cdn.dev.skype.com/uri/skype-uri.js"></script>
                        <div id="supporter01" style="height: 30px; float: left;">
                            <span class="fleft" style="margin-right: 15px;">Skype:</span><script type="text/javascript">
                                Skype.ui({
                                    "name": "chat",
                                    "element": "supporter01",
                                    "participants": ["nguyentv91"],
                                    "imageSize": 24
                                });
                            </script>
                        </div>
                        <div style="float: left;">
                             <span class="fleft" style="margin-right: 15px;">Yahoo:</span><a href="ymsgr:sendIM?nguyentv91">
                                <img src="http://opi.yahoo.com/online?u=nguyentv91&m=g&t=2" border="0" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <h2>Thông tin liên hệ</h2>
                    <div class="divider1">
                        &nbsp;
                    </div>
                   <p class="foot-address">
                        <strong>Show room Sunrise</strong><br />
                        Số 38 - Phạm Hùng - Từ Liêm
                        <br />
                        Hà Nội
                        <br />
                    </p>
                    <div class="contact-icon">
                        <i class="icon-envelope-alt"></i><strong>Email: </strong>
                        <p>
                            <a href="#">contact@sunriseauto.com</a>
                        </p>
                    </div>
                    <div class="contact-icon">
                        <i class="icon-phone"></i><strong>Phone: A Tùng </strong>
                        <p>
                            +84 0983.748.168
                        </p>
                    </div>
                    <div class="contact-icon">
                        <i class="icon-twitter"></i><strong>Follow Us on Twitter: </strong>
                        <p>
                            <a href="https://twitter.com/mannatstudio">sunriseauto</a>
                        </p>
                    </div>
                    <div class="contact-icon">
                        <i class="icon-facebook"></i><strong>Like Us on Facebook: </strong>
                        <p>
                            <a href="#">sunriseauto</a>
                        </p>
                    </div>
                </div>
                <!-- KÊT THỨC THÔNG TIN CỬA HÀNG-->

            </div>

        </div>
    </div>
</div>
<!--Bodycontent End-->
