@using Common
@using Showroom.Models.DataAccess;
@{
    ViewBag.Title = "Sunrise Auto - Việt Nam";
    var lstProduct = (List<Showroom.Models.Product>)ViewBag.ProductList;
}

<style>
    .titleH1{color:#fff; font-size:14px; padding:0px; margin:0px; font-weight:bold; line-height:18px;}
    .pnameH3{font-size: 15px;line-height: 18px;margin: 10px 0 !important; font-weight:normal !important;}
</style>

<div class="boderB min-hieght-lg">
    <!-- SLIDE -->
    @Html.Partial("~/Views/Shared/_Slide.cshtml")
    <!-- END SLIDE -->

    <!-- NỘI DUNG TRANG CHỦ-->
    <section>
        <div class="container">

            <!-----------------------MENU LEFT--------------------------------->
            <div class="colLeft span3 fleft">
                @Html.Partial("~/Views/Shared/_Left_Control.cshtml")
            </div>
            <!-----------------------END MENU LEFT----------------------------->

            <!-----------------------XE MỚI CẬP NHẬT--------------------------->
            <div class="span9" id="boxNewProduct" style="margin-left: 10px;">

                <div class="shadow-wrapper searchtitle">
                    <div class="titleSearchBox">
                        <span>Sản phẩm mới cập nhật</span>
                    </div>
                </div>

                @foreach (var m in lstProduct.Take(9))
                {
                    var imageList = new System.Collections.ArrayList();
                    var imagePath = Server.MapPath(@"~/Images/Product/" + m.Id + "");
                    imageList = @clsHelper.GetImageInFolder(imagePath, "/Images/Product/" + m.Id);
                    var NoimgPath = "/images/no_image.gif";
                    var strImage = string.Empty;
                    if (imageList.Count > 0)
                    {
                        strImage = imageList[0].ToString();
                    }
                    else
                    {
                        strImage = NoimgPath;
                    }
                    <div class="span3 magrinproduct">
                        <div class="shadow-wrapper">
                            <div class="mosaic-block faded">
                                <div class="mosaic-overlay" style="display: block;">
                                    <div class="zoom-icons">
                                        <a class="zoom-img" href="@strImage" data-gal="prettyPhoto[portfolio]" title="Xem ảnh lớn"><i class="icon-search"></i></a>
                                        <a class="link-img" href="/san-pham/chi-tiet/@m.NameEn-@m.Id" title="Xem chi tiết"><i class="icon-link"></i></a>
                                    </div>
                                </div>
                                <div class="mosaic-backdrop">
                                    <img class="max-image" src="@strImage" alt="@m.NameEn">
                                </div>
                            </div>
                            <div class="port3-head">
                                <h3 class="pnameH3"><a href="/san-pham/chi-tiet/@m.NameEn-@m.Id">@m.Name</a></h3>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <!-----------------------END XE MỚI CẬP NHẬT----------------------->

            <!-----------------------------PRODUCT CATALOGUE----------------------------->
            <div id="Partner" class="span12" style="margin-left: 0px;">
                 @Html.Partial("~/Views/Shared/_CatalogueSlide.cshtml")
            </div>
            <!----------------------------- END PRODUCT CATALOGUE----------------------------->

        </div>
    </section>
    <!-- END NỘI DUNG TRANG CHỦ-->

    <script type='text/javascript' src='/Scripts/js/jquery.min.js'></script>
    <script type="text/javascript" src="/Scripts/js/jquery.flexslider.js"></script>
    
</div>

