@model List<Showroom.Models.Catalogue>

@{
    ViewBag.Title = "Danh mục hãng sản xuất";
}

<!-- dataTables -->
<script src="@Url.Content("~/Scripts/plugins/datatable/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Scripts/plugins/datatable/TableTools.min.js")"></script>
<script src="@Url.Content("~/Scripts/plugins/datatable/ColReorder.min.js")"></script>
<script src="@Url.Content("~/Scripts/plugins/datatable/ColVis.min.js")"></script>
<!-- Chosen -->
<script src="@Url.Content("~/Scripts/plugins/chosen/chosen.jquery.min.js")"></script>
<!--Style-->
<!-- dataTables -->
<link rel="stylesheet" href="@Url.Content("~/Content/css/plugins/datatable/TableTools.css")">
<!-- chosen -->
<link rel="stylesheet" href="@Url.Content("~/Content/css/plugins/chosen/chosen.css")">
<!-- End Style-->
<div class="box box-bordered">
    @Html.ActionLink("Thêm mới","Edit",new {Id=0},new {@class="btn btn-primary"})
    <div class="box-content nopadding">
        <table class="table table-nomargin dataTable table-bordered">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(Model,p => p.Id)</th>
                    <th>@Html.DisplayNameFor(Model,p => p.Name)</th>
                    <th>@Html.DisplayNameFor(Model,p => p.NameEn)</th>
                    <th>@Html.DisplayNameFor(Model,p => p.Image)</th>
                    <th>@Html.DisplayNameFor(Model,p => p.Actflg)</th>
                    <th>Công cụ</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td> 
                        <td>@item.NameEn</td>
                        <td>@item.Image</td>
                        <td>@item.Actflg</td>
                        <td>@Html.ActionLink("Sửa","Edit", new {Id=item.Id} )  - <a href="javascript:void(0);" onclick="DeleteCatalogue(@item.Id)" >Xóa</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    function DeleteCatalogue(id) {
        if (confirm('Bạn có chắc chắn muốn xóa bản ghi này ?')) {
            window.location = '/Catalogue/Delete?id=' + id ;
        }
    };

</script>