@model Showroom.Models.Catalogue
@using Common

@{

    ViewBag.Title = "Sunrise Auto - " + Model.Name;
    List<Showroom.Models.PropertyCatalogue> PropertyCatalogueList = ViewBag.PropertyCatalogueList;
    int maxPage = ViewBag.MaxPage;
    int CatalogueId = ViewBag.Id;
    int CurrenPage = ViewBag.Curenpage;
 
}

<div class="boderB min-hieght-lg">

    <!-- NỘI DUNG TRANG CHỦ-->
    <section>
        <div class="container">

            <!-----------------------MENU LEFT--------------------------------->
            <div class="colLeft span3 fleft">
                    @Html.Partial("~/Views/Shared/_Left_Control.cshtml")
            </div>
            <!-----------------------END MENU LEFT----------------------------->

            <!-----------------------XE THEO CATEGORIES--------------------------->
            <div class="span9" id="boxNewProduct" style="margin-left: 10px;">


                    <div class="breacrumbs" style="background: #DDE; padding: 12px 0; color: #000; font-weight:normal;">
                        <span><a href="/">Trang chủ</a></span>
                        @Model.Name
                    </div>


                <div class="shadow-wrapper searchtitle">
                    <div class="titleSearchBox">
                        <span>Sản phẩm</span>
                    </div>
                </div>


                @foreach (var m in (List<Showroom.Models.Product>)ViewBag.ProductByCatalogue)
                {

                                var LimageList = new System.Collections.ArrayList();
                                var imagePath = Server.MapPath(@"~/Images/Product/" + m.Id + "");
                                LimageList = @clsHelper.GetImageInFolder(imagePath, "/Images/Product/"+m.Id);
                                var NoimgPathN = "/images/no_image.gif";
                                var strImage = string.Empty;
                                if (LimageList.Count > 0)
                                {
                                    strImage = LimageList[0].ToString();
                                }
                                else
                                {
                                    strImage = NoimgPathN;
                                }                     
                    <div class="span3 magrinproduct">
                        <div class="shadow-wrapper">
                            <div class="mosaic-block faded">
                                <div class="mosaic-overlay" style="display: block; opacity: 0;">
                                    <div class="zoom-icons">
                                        <a class="zoom-img" href="@strImage" data-gal="prettyPhoto[portfolio]"><i class="icon-search"></i></a>
                                        <a class="link-img" href="/san-pham/chi-tiet/@m.NameEn-@m.Id"><i class="icon-link"></i></a>
                                    </div>
                                </div>
                                <div class="mosaic-backdrop">
                                    <img class="max-image" src="@strImage" alt="@m.NameEn">
                                </div>
                            </div>
                            <div class="port3-head">
                                <h5><a href="/san-pham/chi-tiet/@m.NameEn-@m.Id">@m.Name</a></h5>
                            </div>
                        </div>
                    </div>
                }

            </div>
            <!-----------------------END XE MỚI CẬP NHẬT----------------------->
            <div class="pagination warpPaging">
                @for (int i = CurrenPage - 1; (i > 0 && i >= CurrenPage - 1); i--)
                {
                    var query = "/san-pham/"+ @Model.NameEn + "/" + CatalogueId + "/" + i;
                    <a href="@query">@i</a>
                }
                @for (int i = CurrenPage; (i <= maxPage && i <= CurrenPage + 1); i++)
                {
                    var query = "/san-pham/" + @Model.NameEn + "/" + CatalogueId + "/" + i;
                    <a href="@query">@i</a>
                }
            </div>
            
            <!-----------------------------PRODUCT CATALOGUE----------------------------->
            <div id="Partner" class="span12" style="margin-left: 0px;">
                 @Html.Partial("~/Views/Shared/_CatalogueSlide.cshtml")
            </div>
            <!----------------------------- END PRODUCT CATALOGUE----------------------------->
        </div>
    </section>
    <!-- END NỘI DUNG TRANG CHỦ-->

</div>
