<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- CSS
  ================================================== -->
    <link rel="stylesheet" href="/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,600,700,500,300' rel='stylesheet'
        type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600,600italic,700'
        rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
    <!-- Favicons
	================================================== -->
    <link rel="shortcut icon" href="/images/icons/favicon.ico">
    <link rel="apple-touch-icon" href="/images/icons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/images/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/images/icons/apple-touch-icon-114x114.png">
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-42978699-1', 'sieuthixe.net.vn');
        ga('send', 'pageview');

</script>
    <meta http-equiv="content-language" content="vi" /> 
</head>
<body>
    
    <!--Header Start-->
    <header>
        @Html.Partial("_Header")
    </header>
    <!--Header End-->

    <!--Bodycontent Start-->
    <div id="body-content clPadingBody">
        @RenderBody()
    </div>
    <!--Bodycontent End-->

    <!--Footer Start-->
    <footer>
        @Html.Partial("_Footer")
    </footer>
    <!--Footer End-->


    <p id="back-top">
        <a href="#top"><i class="icon-arrow-up"></i></a>
    </p>


    <!--Javascript Library Start-->
    <script type='text/javascript' src='/Scripts/js/jquery.min.js'></script>
    <script type='text/javascript' src='/Scripts/js/jquery.easing.1.3.js'></script>
    <script type="text/javascript" src="/Scripts/js/superfish.js"></script>
    <script type="text/javascript" src="/Scripts/js/jquery.tweet.js"></script>
    <script type="text/javascript" src="/Scripts/js/jquery.tipsy.js"></script>
    <script type="text/javascript" src="/Scripts/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/Scripts/js/mosaic-min.js"></script>
    <script type="text/javascript" src="/Scripts/js/jquery.flexslider.js"></script>
    <script type="text/javascript" src="/Scripts/js/modernizr.js"></script>
    <script type='text/javascript' src="/Scripts/js/iview.js"></script>
    <script type='text/javascript' src='/Scripts/js/jquery.mobile.customized.min.js'></script>
    <script type='text/javascript' src='/Scripts/js/camera.min.js'></script>
    <script type="text/javascript" src="/Scripts/js/jquery.nivo.slider.js"></script>
    <script type="text/javascript" src="/Scripts/js/jquery.iosslider.min.js"></script>
    <script type="text/javascript" src="/Scripts/js/jcarousel.js"></script>
    <script type="text/javascript" src="/Scripts/js/jquery.carouFredSel.js"></script>
    <script type="text/javascript" src="/Scripts/js/script.js"></script>
    <script type="text/javascript">
        var currentPage = "@ViewBag.CurrentPage";
        if (currentPage == "") {
            currentPage = "home";
        }
        $("#menu_" + currentPage).addClass("current");
    </script>

</body>
</html>
