@using Showroom.Models.DataAccess;
@using Common;
@{
    ShowroomRepository rep = new ShowroomRepository();

    var lstCatalogue = rep.GetProductCatalogueList();
    var lstProduct = rep.GetProductsList();
    var lstNews = rep.GetNewsList();


    var listCatalogueDrop = (from p in lstCatalogue
                             select new SelectListItem
                             {
                                 Value = p.Id.ToString(),
                                 Text = p.Name,
                             }).ToList();
                             
                             
    

}

<div class="shadow-wrapper searchtitle" id="searchbox">
    <div class="titleSearchBox">
        <span>TÌM KIẾM XE</span>
    </div>
    @using (Html.BeginForm("SearchProduct", "Home", FormMethod.Get))
    {
        <ul class="searchtool" id="searchtool">
            <li>
                @Html.DropDownList("CID", (IList<SelectListItem>)listCatalogueDrop, "----- Hãng xe -----")
            </li>
            <li>
                <select id="ModelID" name="ModelID" disabled="disabled">
                    <option value="tat-ca">------ Model ------</option>
                </select>
            </li>
            <li>
                <select id="TYPEID" name="TYPEID">
                    <option value="tat-ca">----Tình trạng----</option>
                    <option value="xe-cu">Xe cũ</option>
                    <option value="xe-moi">Xe mới</option>
                </select>
            </li>
            <li>
                <input type="submit" value=" Tìm kiếm " class="button-green btn fright">
                <div class="clearfix"></div>
            </li>
        </ul>
    }
    <script type='text/javascript' src='/Scripts/js/jquery.min.js'></script>
    <script type="text/javascript">
        $('#CID').change(function () {
            LoadModelByCatalogue(this.value);
        });

        function LoadModelByCatalogue(cataID) {

            $.ajax({
                type: "POST",
                url: '@Url.Action("LoadModelByCatalogueId", "Home")',
                data: "{'cataID':'" + cataID + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                cache: false,
                success: function (data) {
                    $('#ModelID').get(0).options.length = 0;
                    $('#ModelID').get(0).options[0] = new Option("------ Model ------", "tat-ca");

                    $.map(data, function (item) {
                        $('#ModelID').get(0).options[$('#ModelID').get(0).options.length] = new Option(item.Display, item.Value);
                    });
                    $('#ModelID').removeAttr("disabled");
                },
                error: function () {
                    alert("Có lỗi trong quá trình xử lý");
                }
            });
        }

        $(document).ready(function () {
            if ($('#CID').val() != "") {
                var cataId = $('#CID').val();
                LoadModelByCatalogue(cataId);
                $('#ModelID').removeAttr("disabled");
            } else {
                $('#ModelID').attr("disabled", "disabled");
            }
            console.log($('#ModelID').attr("disabled"));
        });
    </script>
</div>
@*<div class="shadow-wrapper">
    <div class="titleBox">
        <span>SIÊU THỊ XE</span>
    </div>
    <ul class="leftnav bullets-style blue  arrow-list">
        @foreach (var c in lstCatalogue)
        {
            <li><a href="/san-pham/@c.NameEn/@c.Id/1">@c.Name</a></li>
        }
    </ul>
</div>*@

<div class="shadow-wrapper">
    <div class="titleBox">
        <span>Tin Tức</span>
    </div>
			<div id="ca-container" class="ca-container">
				<div class="ca-wrapper">
                    @foreach(var n in lstNews.OrderByDescending(n => n.PostDate).Where(n => n.Actflg == 'A').Take(5))
                    {

                        var NoimgPathN = "/images/noImage.jpg";
                        var strImage = string.Empty;
                        if (n.Image.IsEmpty())
                        {
                            strImage = NoimgPathN;
                        }
                        else
                        {
                            strImage = "/images/News/" + n.Id + "/" + n.Image;
                        }                        
                        
					<div class="ca-item ca-item-1">
						<div class="ca-item-main">
							<div class="ca-icon">
                                <img src="@strImage" alt="@n.TitleEn" />
							</div>
							<h3 class="top-mar">
                               <a href="/tin-tuc/@n.TitleEn-@n.Id"> @clsHelper.CatChuoi(n.Title, 50)</a>
							</h3>
							<h4>
								<span class="ca-quote">&ldquo;</span>
								<span>@HttpUtility.HtmlDecode(clsHelper.CatChuoi(clsHelper.ClearTagHTML(n.Detail),120))</span>
							</h4>
								<a href="/tin-tuc/@n.TitleEn-@n.Id" class="ca-moreLink" style="color:#000;">chi tiết...</a>
						</div>
					</div>

                    }
				</div>
			</div>
</div>


        <link href="/css/demo.css" rel="stylesheet" />
        <link href="/css/style.css" rel="stylesheet" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
        <script src="/Scripts/jquery.easing.1.3.js"></script>
		<!-- the jScrollPane script -->
        <script src="/Scripts/jquery.mousewheel.js"></script>
        <script src="/Scripts/jquery.contentcarousel.js"></script>

		<script type="text/javascript">
		    //$('#ca-container').contentcarousel();


		    $('#ca-container').contentcarousel();
		    var int = setInterval("$('.ca-nav-next').trigger('click');", 5000);
		    $('.ca-item').hover(function () {
		        clearInterval(int);
		    }, function () {
		        int = setInterval("$('.ca-nav-next').trigger('click');", 5000);
		    });
		    $('.ca-nav').hover(function () {
		        clearInterval(int);
		    }, function () {
		        int = setInterval("$('.ca-nav-next').trigger('click');", 5000);
		    });


		</script>