@{
    ViewBag.Title = "Cập nhật sản phẩm";
}
@model Showroom.Models.Product
@{
    List<Showroom.Models.PropertyCatalogue> PropertyCatalogueList = ViewBag.PropertyCatalogueList;
    List<Showroom.Models.PropertySubCatalogue> PropertySubCatalogueList = ViewBag.PropertySubCatalogueList;
    List<Showroom.Models.ProductProperty> ProductProperty = ViewBag.ProductPropertyList;
    List<Showroom.Models.Property> PropertyList = ViewBag.PropertyList;
    int ProductId = ViewBag.ProductId;
}
<!-- chosen -->
<link rel="stylesheet" href="@Url.Content("~/Content/css/plugins/chosen/chosen.css")">
<!-- Chosen -->
<script src="@Url.Content("~/Scripts/plugins/chosen/chosen.jquery.min.js")"></script>
<div class="box box-color box-bordered">
    <div class="box-title">
        <h3><i class="icon-edit"></i>Cập nhật thông tin sản phẩm</h3>
    </div>
    <div class="box-content nopadding">
        <div class="form-wizard">
            <div class="span12">
                <div class="step" id="firstStep">
                    <ul class="wizard-steps steps-3">
                        <li>
                            <div class="single-step">
                                <span class="title">1</span>
                                <span class="circle">
                                    <span class="active"></span>
                                </span>
                                <span class="description">Thông tin cơ bản của sản phẩm
                                </span>
                            </div>
                        </li>
                        <li class='active'>
                            <div class="single-step">
                                <span class="title">2</span>
                                <span class="circle"></span>
                                <span class="description">Các thông số của sản phẩm
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="single-step">
                                <span class="title">3</span>
                                <span class="circle"></span>
                                <span class="description">Galary ảnh của sản phẩm
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div>
        <form id="form_property" class="form-horizontal form-column">
            <div class="span12">
                @for (int i = 0; i < PropertyCatalogueList.Count; i++)
                {
                    string StrName = PropertyCatalogueList[i].Name.ToString();
                    var ID = PropertyCatalogueList[i].Id;
                    var GroupPropertyList = (from n in PropertySubCatalogueList
                                             from p in PropertyList

                                             where p.CatelogueId == ID && p.SubCatelogueId == n.Id
                                             select new
                                             {
                                                 Id = n.Id,
                                                 Name = n.Name
                                             }
                                                 ).Distinct().ToList();
                    <div class="box ">
                        <div class="box-title">
                            <h3><i class="icon-tag"></i>@StrName</h3>
                        </div>
                        <div class="box-content">
                            @foreach (var subitem in GroupPropertyList)
                            {
                                var lst = (from p in PropertyList
                                           where p.SubCatelogueId == subitem.Id && p.CatelogueId == ID
                                           select new
                                           {
                                               Id = p.Id,
                                               PropertyType = p.PropertyType,
                                               Name = p.Name,
                                           }).Distinct().ToList();
                                <div class="span5">
                                    <h3>@subitem.Name</h3>
                                    @foreach (var s in lst)
                                    {
                                        var sId = "p" + s.Id;
                                        var sValue = (from p in ProductProperty where p.ProductId == ProductId && p.PropertyId == s.Id select p.Value).SingleOrDefault();
                                        <div class="control-group">
                                            <label class="control-label" for="@sId">@s.Name</label>
                                            @if (s.PropertyType.Trim().Equals(Showroom.Models.Property.TYPE_TEXTBOX))
                                            {
                                                <div class="controls">
                                                    @Html.TextBox(sId, sValue, new { @class = "input-xlarge" })
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="controls">
                                                    @Html.CheckBox(sId, sValue)
                                                </div>
                                            }
                                        </div>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </form>
        @using (Html.BeginForm("EditProductProperties", "Product", FormMethod.Post, new { @id = "form_submit" }))
        {
            <div class="span12">
                @Html.Hidden("jsondata")
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Lưu và Next </button>
                    <button type="button" class="btn">Hủy </button>
                </div>
            </div>
        }
    </div>
</div>

<script>
    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };

    $("#form_submit").submit(function (event) {
        var jsondata = JSON.stringify($("#form_property").serializeObject());
        $("#jsondata").val(jsondata);
    });
</script>
