@model Showroom.Models.Product
@using Showroom.Models.DataAccess;
@{
    ShowroomRepository rep = new ShowroomRepository();
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Showroom.Models.PropertyCatalogue> PropertyCatalogueList = ViewBag.PropertyCatalogueList;
    List<Showroom.Models.PropertySubCatalogue> PropertySubCatalogueList = ViewBag.PropertySubCatalogueList;
    List<Showroom.Models.ProductProperty> ProductProperty = ViewBag.ProductPropertyList;
    List<Showroom.Models.Property> PropertyList = ViewBag.PropertyList;
    
    // Lấy những thuộc tính của sản phẩm được ShowMain
    var PropertyOnMain = (from n in ProductProperty
                          from p in PropertyList
                          where p.ShowMain == 'A' && n.PropertyId == Model.Id
                          select new
                          {
                              Name = p.Name,
                              Value = n.Value
                          } 
                          ).ToList();                                   
                                              
}

<section>
    <div class="boderB">
        <div class="container warp-content">
            <div class="row">
                <!------------ BẮT ĐẦU CHI TIẾT SẢN PHẨM ----------->
                <div class="span7">
                    <div class="shadow-wrapper small6">
                        <div class="flexslider" id="main-slider">
                            <ul class="slides">
                                <li>
                                    <div class="mosaic-block circle">
                                        <a style="display: inline; opacity: 0;" href="/images/portfolio/kia.jpg" class="mosaic-overlay" data-gal="prettyPhoto[portfolio]">&nbsp;</a>
                                        <div style="display: block;" class="mosaic-backdrop">
                                            <img src="/images/portfolio/kia.jpg" class="max-image" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="mosaic-block circle">
                                        <a style="display: inline; opacity: 0;" href="/images/portfolio/mazda.png" class="mosaic-overlay" data-gal="prettyPhoto[portfolio]">&nbsp;</a>
                                        <div style="display: block;" class="mosaic-backdrop">
                                            <img src="/images/portfolio/mazda.png" class="max-image" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="mosaic-block circle">
                                        <a style="display: inline; opacity: 0;" href="/images/portfolio/kia.jpg" class="mosaic-overlay" data-gal="prettyPhoto[portfolio]">&nbsp;</a>
                                        <div style="display: block;" class="mosaic-backdrop">
                                            <img src="/images/portfolio/kia.jpg" class="max-image" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="mosaic-block circle">
                                        <a style="display: inline; opacity: 0;" href="/images/portfolio/hyundai.jpg" class="mosaic-overlay" data-gal="prettyPhoto[portfolio]">&nbsp;</a>
                                        <div style="display: block;" class="mosaic-backdrop">
                                            <img src="/images/portfolio/hyundai.jpg" class="max-image" />
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="mosaic-block circle">
                                        <a style="display: inline; opacity: 0;" href="/images/portfolio/mazda.png" class="mosaic-overlay" data-gal="prettyPhoto[portfolio]">&nbsp;</a>
                                        <div style="display: block;" class="mosaic-backdrop">
                                            <img src="/images/portfolio/mazda.png" class="max-image" />
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="span5">
                    <h3>@Model.Name</h3>
                    <ul class="sidebar-post">
                        <li>
                            <div class="row">
                                <div class="span2 blod">Giá:</div>
                                <div class="span3">@Model.Price</div>
                            </div>
                        </li>
                        <li>
                            @foreach(var sm in  PropertyOnMain)
                            {
                            <div class="row">
                                <div class="span2 blod">@sm.Name</div>
                                <div class="span3">@sm.Value</div>
                            </div>
                            }
                        </li>

                        <li></li>
                    </ul>
                </div>
                <!------------ KẾT THÚC CHI TIẾT SẢN PHẨM ----------->

                <!------------ BẮT ĐẦU TAB CHI TIẾT SẢN PHẨM ----------->
                <div class="span12">
                    <div class="service-wrap">
                        <ul class="tab-menu tab-blue round">
                            @for (int i = 0; i < PropertyCatalogueList.Count; i++)
                            {
                                string strClassActive = "";
                                if (i == 0)
                                {
                                    strClassActive = "active";
                                }
                                var tabId = "#tab" + PropertyCatalogueList[i].Id;
                                string StrName = PropertyCatalogueList[i].Name.ToString();  
                                <li class="@strClassActive"><a href="@tabId" ><i class="icon-tag"></i>@StrName</a></li>
                            }
@*                            @foreach (var item in PropertyCatalogueList)
                            {
                                var tabId = "#tab" + item.Id;        
                                <li class="@strClassActive"><a href="@tabId" ><i class="icon-tag"></i>@item.Name</a></li>
                            }*@
                        </ul>
                        <div class="shadow-wrapper">
                            <div class="tab-container">
                                @for(int x = 0; x < PropertyCatalogueList.Count;x++)
                                {
                                    var tabId = "#tab" + PropertyCatalogueList[x].Id;
                                    var ID = PropertyCatalogueList[x].Id;
                                    string strStatus = "";
                                    if (x == 0)
                                    {
                                        strStatus = "block";
                                    }
                                    var GroupPropertyList = (from p in PropertyList
                                                             from n in PropertySubCatalogueList
                                                             where p.CatelogueId == ID && p.SubCatelogueId == n.Id
                                                             select new
                                                             {
                                                                 Id = n.Id,
                                                                 Name = n.Name
                                                             }
                                                             ).ToList();
                                    
                                    <div style="display: @strStatus;" class="tab-content-1 span11" id="@tabId">
                                        @foreach (var subitem in GroupPropertyList)
                                        {
                                            var lst = (from n in ProductProperty
                                                       from p in PropertyList
                                                       where p.SubCatelogueId == subitem.Id && p.CatelogueId == ID && n.PropertyId == p.Id
                                                       select new{
                                                           Name = p.Name,
                                                           Value = n.Value                                                         
                                                       }).ToList();
                                            <div class="span5">
                                                <h3>@subitem.Name</h3>
                                                <ul class="sidebar-post">
                                                    <li>
                                                        <div class="row">
                                                            @foreach (var s in lst)
                                                            {
                                                                <div class="span2 blod">@s.Name</div>
                                                                <div class="span3">@s.Value</div>
                                                            }
                                                        </div>

                                                    </li>

                                                </ul>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!------------ KẾT THÚC TAB CHI TIẾT SẢN PHẨM ----------->

                <div class="span12">
                    <div class="titleSearchBox">
                        <span>SẢN PHẨN CÙNG LOẠI</span>
                    </div>
                    <div class="row" id="boxNewProduct">
                        @foreach (var productS in rep.GetListProductSame(@Model.CatalogueId))
                        {
                        <div class="span3">
                            <div class="shadow-wrapper">
                                <div class="mosaic-block faded">
                                    <div class="mosaic-overlay" style="display: block; opacity: 0;">
                                        <div class="zoom-icons">
                                            <a class="zoom-img" href="/images/portfolio/kia.jpg" data-gal="prettyPhoto[portfolio]"><i class="icon-search"></i></a>
                                            <a class="link-img" href="/Product/Details/@Model.Id"><i class="icon-link"></i></a>
                                        </div>
                                    </div>
                                    <div class="mosaic-backdrop">
                                        <img class="max-image" src="/images/portfolio/kia.jpg" alt="">
                                    </div>
                                </div>
                                <div class="port3-head">
                                    <h3><a href="/Product/Details/@Model.Id">@productS.Name</a></h3>
                                    <p>Giá: @Convert.ToDouble(productS.Price).ToString("N0").Replace(",", ".")</p>
                                </div>
                            </div>
                        </div>
                        }
                    </div>
                </div>

                <div class="span12">
                    <div class="divider2">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</section>
