@{
    ViewBag.Title = "Cập nhật sản phẩm";
}
@model Showroom.Models.Product
<!-- chosen -->
<link rel="stylesheet" href="@Url.Content("~/Content/css/plugins/chosen/chosen.css")">
<!-- Chosen -->
<script src="@Url.Content("~/Scripts/plugins/chosen/chosen.jquery.min.js")"></script>
<div class="box box-color box-bordered">
    <div class="box-title">
        <h3><i class="icon-edit"></i>Cập nhật thông tin sản phẩm</h3>
    </div>
    <div class="box-content nopadding">
       <div class="form-wizard">
            <div class="span12">
                <div class="step" id="firstStep">
                    <ul class="wizard-steps steps-3">
                        <li>
                            <div class="single-step">
                                <span class="title">1</span>
                                <span class="circle">
                                    <span class="active"></span>
                                </span>
                                <span class="description">Thông tin cơ bản của sản phẩm
                                </span>
                            </div>
                        </li>
                        <li class='active'>
                            <div class="single-step">
                                <span class="title">2</span>
                                <span class="circle"></span>
                                <span class="description">Các thông số của sản phẩm
                                </span>
                            </div>
                        </li>
                        <li>
                            <div class="single-step">
                                <span class="title">3</span>
                                <span class="circle"></span>
                                <span class="description">Galary ảnh của sản phẩm
                                </span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("EditProductProperties", "Product", FormMethod.Post, new { @class = "form-horizontal form-column form-horizontal" }))
        {
            <div class="span6">
                @Html.HiddenFor(item => item.Id)
                <div class="control-group">
                    <label for="" class="control-label">@Html.LabelFor(item => item.Catalogue.Name)</label>
                    <div class="controls">
                        <div class="input-xlarge">
                            @Html.DropDownList("listCatalogue", (IList<SelectListItem>)ViewBag.CatalogueList, new { @class = "chosen-select" })
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label for="" class="control-label">@Html.LabelFor(item => item.Code)</label>
                    <div class="controls">
                        @Html.TextBoxFor(item => item.Code, new { @class = "input-xlarge" })
                        @Html.ValidationMessageFor(item => item.Code)
                    </div>
                </div>
                <div class="control-group">
                    <label for="" class="control-label">@Html.LabelFor(item => item.Name)</label>
                    <div class="controls">
                        @Html.TextBoxFor(item => item.Name, new { @class = "input-xlarge" })
                        @Html.ValidationMessageFor(item => item.Name)
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="control-group">
                    <label for="" class="control-label">@Html.LabelFor(item => item.Price)</label>
                    <div class="controls">
                        @Html.TextBoxFor(item => item.Price, new { @class = "input-xlarge" })
                        @Html.ValidationMessageFor(item => item.Price)
                    </div>
                </div>
                <div class="control-group">
                    <label for="" class="control-label">@Html.LabelFor(item => item.Amount)</label>
                    <div class="controls">
                        @Html.TextBoxFor(item => item.Amount, new { @class = "input-xlarge" })
                        @Html.ValidationMessageFor(item => item.Amount)
                    </div>
                </div>
            </div>
            <div class="span12">
                <div class="control-group">
                    <label for="" class="control-label">@Html.LabelFor(item => item.Description)</label>
                    <div class="controls">
                        @Html.TextAreaFor(item => item.Description, new { @class = "input-block-level", @rows = "15" })
                        @Html.ValidationMessageFor(item => item.Description)
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Lưu và Next </button>
                    <button type="button" class="btn">Hủy </button>
                </div>
            </div>
        }
    </div>
</div>
