@model List<Showroom.Models.Product>

@{
    ViewBag.Title = "Danh sách sản phẩm";
}

<!-- dataTables -->
<script src="@Url.Content("~/Scripts/plugins/datatable/jquery.dataTables.min.js")"></script>
<script src="@Url.Content("~/Scripts/plugins/datatable/TableTools.min.js")"></script>
<script src="@Url.Content("~/Scripts/plugins/datatable/ColReorder.min.js")"></script>
<script src="@Url.Content("~/Scripts/plugins/datatable/ColVis.min.js")"></script>
<!-- Chosen -->
<script src="@Url.Content("~/Scripts/plugins/chosen/chosen.jquery.min.js")"></script>
<!--Style-->
<!-- dataTables -->
<link rel="stylesheet" href="@Url.Content("~/Content/css/plugins/datatable/TableTools.css")">
<!-- chosen -->
<link rel="stylesheet" href="@Url.Content("~/Content/css/plugins/chosen/chosen.css")">
<!-- End Style-->
<div class="box box-bordered">
    <div class="box-content nopadding">
        <table class="table table-nomargin dataTable table-bordered">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(Model,p => p.Id)</th>
                    <th>@Html.DisplayNameFor(Model,p => p.Code)</th>
                    <th>@Html.DisplayNameFor(Model,p => p.Name)</th>
                    <th>@Html.DisplayNameFor(Model,p => p.Price)</th>
                    <th>Nhóm sản phẩm</th>
                    <th>@Html.DisplayNameFor(Model,p => p.Amount)</th>
                    <th>@Html.DisplayNameFor(Model,p => p.Actflg)</th>
                    <th>Công cụ</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Code</td> 
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.Catalogue.Name</td> 
                    <td>@item.Amount</td>
                    <td>@((item.Actflg =='A')? "Đang bán": "Đã khóa")</td>
                    <td>@Html.ActionLink("Sửa","Edit", new {Id=item.Id} )  - <a href="javascript:void(0);" onclick="Delete(@item.Id)" >Xóa</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript">
    function Delete(id) {
        if (confirm('Bạn có chắc chắn muốn xóa bản ghi này ?')) {
            window.location = '/Product/Delete?id=' + id;
        }
    };

</script>